
services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: nutriweek
      POSTGRES_USER: root
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    environment:
      SPRING_PROFILES_ACTIVE: prod
      FRONTEND_URL: ${FRONTEND_URL}
      USER_VERIFY_URL: ${USER_VERIFY_URL}
      FRONTEND_VERIFIED_URL: ${FRONTEND_VERIFIED_URL}
      DB_URL: ${DB_URL}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      MAIL_USER: ${MAIL_USER}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
      USDA_API_KEY: ${USDA_API_KEY}
      COOKIE_DOMAIN: ${COOKIE_DOMAIN}

    ports:
      - "8080:8080"
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  db_data:
