server:
  port: 8080
  forward-headers-strategy: native

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        format_sql: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USER}
    password: ${MAIL_PASSWORD}
    protocol: smtp
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

app:
  mail:
    from: no-reply@nutriweek.com
  urls:
    verify: ${USER_VERIFY_URL}
    frontendVerified: ${FRONTEND_VERIFIED_URL}
  usda:
    url: https://api.nal.usda.gov/fdc/v1
    key: ${USDA_API_KEY}
  cors:
    allowed-origins: ${FRONTEND_URL}

logging:
  level:
    root: ERROR
    org.springframework.web: ERROR
    org.hibernate.SQL: WARN
    org.springframework.security: ERROR
