server:
  port: 8080

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USER}
    password: ${MAIL_PASSWORD}
    protocol: smtp
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

app:
  mail:
    api-key: ${BREVO_API_KEY}
    sender-email: noreply.nutriweek@gmail.com
    sender-name: NutriWeek
  urls:
    verify: http://localhost:8080/auth/verify
    frontendVerified: http://localhost:3000/login
  usda:
    url: https://api.nal.usda.gov/fdc/v1
    key: ${USDA_API_KEY}
  cors:
    allowed-origins: "http://localhost:3000"
  csrf:
    domain: localhost

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.security: DEBUG

