server:
  port: 8080
  forward-headers-strategy: native

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        format_sql: false

app:
  mail:
    api-key: ${BREVO_API_KEY}
    sender-email: noreply.nutriweek@gmail.com
    sender-name: NutriWeek
  urls:
    verify: ${USER_VERIFY_URL}
    frontendVerified: ${FRONTEND_VERIFIED_URL}
  usda:
    url: https://api.nal.usda.gov/fdc/v1
    key: ${USDA_API_KEY}
  cors:
    allowed-origins: ${FRONTEND_URL}
  csrf:
    domain: ${COOKIE_DOMAIN}

logging:
  level:
    root: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework.security: DEBUG
